<article>
{# Title #}
{% set html_tag = 'h3' %}
{% set headingIcon = 'bi bi-star' %}
{% set iconPosition = 'right' %}
{% set extraClasses = 'parent-class' %}
{% set label = 'Parent Label' %}

<h2>Include with_context = true</h2>
{{ include('mytheme:heading', {
  title: label,
  extraClasses: 'text-primary',   # collide with parent "extraClasses"
}, with_context = true) }}

<h2>Include with_context = false</h2>
{{ include('mytheme:heading', {
  title: label,
  extraClasses: 'text-danger',    # collide with parent "extraClasses"
}, with_context = false) }}

  {# Image #}
  {{ include('mytheme:image', {
    src: file_url(node.field_image.entity.fileuri),
    alt: node.field_image.alt,
    responsive: true,
    extraClasses: 'my-3'
  }, with_context = false) }}

  {# Body #}
  
  {{ include('mytheme:text', {
    content: content.body,
    extraClasses: 'p-4',
  }, with_context = false) }}
</article>